body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: white;
}

a:hover {
    text-decoration: none;
    color : white;
}

.nav {
    background-color: #7952b3;
    z-index: 100;
    box-shadow: 0 1px 2px 0 #333;
    justify-content: space-between;
}

.menu-item {
    display: flex;
}

.profile-icon {
    cursor: pointer;
}

.sidebar,
.nav-link {
    color: white;
}

.sidebar {
    min-width: 100px;
    max-width: 100px;
    background-color: #553584;
    display: flex;
    flex-direction: column;
    z-index: 50;
    box-shadow: 1px 0 2px #333;
}

.main {
    height: 90vh;
    flex-grow: 1;
    max-height: 100%;
    display: flex;
    color: black;
}

.room-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    cursor: pointer;
    margin: 0.75rem 1rem 0;
    box-shadow: 0 1px 3px 1px #222;
    background-color: #553584;
    color: white;
}

.room-button > strong {
    font-size: 36px;
}

.room-button:hover {
    box-shadow: 0 2px 3px 1px #222;
}

.chat {
    flex-grow: 1;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.chat-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    overflow: auto;
    color: black;
}

.chat-input {
    background-color: #553584;
    min-height: 70px;
    z-index: 25;
    box-shadow: 0 -1px 2px 0 #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: row;
}
.message:first-child {
    margin-top: auto;
}

.message > * {
    padding: 0.2rem;
}
.message > header {
    font-weight: bold;
    min-width: 100px;
    text-align: right;
}
.message > p {
    flex-grow: 5;
    margin: 0;
}
.message > footer {
    min-width: 60px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 200;
    background-color: rgba(0.2, 0.2, 0.2, 0.8);
    top: 0;
    left: 0;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: relative;
    flex: none;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #553584;
    padding: 1rem;
}

.modal-body > .close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 0;
}

.modal-body > header {
    color: #fff;
    font-size: 24px;
}

.modal-body > * {
    margin-top: 0.75rem;
}

.modal-body > div > input {
    width: 100%;
}

.modal-body > footer {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: #000;
}

.wrapper > button {
    align-self: center;
    margin-top: 20px;
}

.form-check-input {
    position: initial;
    margin: 0.5em;
}

.form-block {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 16px;
}

.validation-summary-errors,
.field-validation-error {
    color: crimson;
}

.profile-img {
    max-height: 400px;
    max-width: 400px;
}