<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="nav">
        <div class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Find">Find</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Private">Private</a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        }
        else 
        {  
            <div class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
            </div>
        }
    </div>

    <main class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }
        <div class="chat">
            @RenderBody()
        </div>
        <div class="modal">
            <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
                <i class="fas fa-times close"></i>
                <header>Create room</header>
                <div class="">
                    <input name="name" type="text" placeholder="Room name">
                </div>
                <footer>
                    <button class="btn btn-success">Create</button>
                </footer>
            </form>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e7ca90fa80.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>