<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>

<body>
    <main class="main">
        @if (User.Identity.IsAuthenticated)
         {
            <vc:room></vc:room>
         }
        <div class="chat">
            @RenderBody()
        </div>
        <div class="modal">
            <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
                <i class="fas fa-times close"></i>
                <header>Create room</header>
                <div class="">
                    <input name="name" type="text" placeholder="Room name">
                </div>
                <footer>
                    <button class="btn btn-success">Create</button>
                </footer>
            </form>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e7ca90fa80.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>