@model Chat

    <div class="chat-body">
        @foreach (var msg in Model.Messages)
         {
            <div class="message">
                <header>@msg.UserName:</header>
                <p>@msg.Content</p>
                <footer>@msg.Timestamp</footer>
            </div>
         }
    </div>
    <form asp-controller="Home" asp-action="CreateMessage" class="chat-input input-group" onsubmit="sendMessage(event)">
        <input type="text" class="form-control" id="message-input" name="msg">
        <button type="submit" class="btn btn-success"><i class="far fa-paper-plane"></i></button>
        <input type="hidden" name="roomId" value="@Model.Id">
    </form>

@section scripts
{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/messageBuilder.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();

        let _connectionId = '';

        connection.on("RecieveMessage", function (data) {
            let message = messageBuilder()
                .createMssage()
                .withHeader(data.userName)
                .withParagraph(data.content)
                .withFooter(data.timestamp)
                .build();

            $('.chat-body').append(message);
        });

        let joinRoom = function () {

        let url = '/Chat/JoinRoom/' + _connectionId + '/@Model.Id';
            axios.post(url, null)
                .then(res =>{
                    console.log("Room joined!", res)
                }).catch(err => {
                    console.error("Failed to join room!", err)
                });
        }

        connection.start()
            .then(function() {
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId
                        joinRoom();
                    });
            })
            .catch(function (err) {
                console.log(err);
            });


        let sendMessage = function (event) {
            event.preventDefault();

            let data = new FormData(event.target);

            axios.post('Chat/SendMessage', data)
                .then(res => {
                    console.log('Message sent!');
                    document.getElementById("message-input").value = "";
                })
                .catch(err => {
                    console.log('Failed to send message!');
                });
        }
    </script>
}