@model Chat

    <div class="chat-body">
        @foreach (var msg in Model.Messages)
         {
            <div class="message">
                <header>@msg.UserName:</header>
                <p>@msg.Content</p>
                <footer>@msg.Timestamp</footer>
            </div>
         }
    </div>
    <form asp-controller="Home" asp-action="CreateMessage" class="chat-input input-group">
        <input type="text" class="form-control" name="msg">
        <button type="submit" class="btn btn-success"><i class="far fa-paper-plane"></i></button>
        <input type="hidden" name="chatId" value="@Model.Id">
    </form>