<div class="chat-body">
    <div class="message">
        <header>Artur:</header>
        <p>Some message for test.</p>
        <footer>14:00</footer>
    </div>
    <div class="message">
        <header>Artur:</header>
        <p>long message for test
            long message for test
            long message for test
            long message for test
            long message for test
            long message for test
            long message for test
            long message for test
            long message for test
            long message for test
        </p>
        <footer>14:00</footer>
    </div>
</div>
<div class="chat-input input-group">
    <input type="text" class="form-control">
    <button type="submit" class="btn btn-success"><i class="far fa-paper-plane"></i></button>
</div>