<div class="chat-body">
</div>
<div class="chat-input input-group">
    <input type="text" class="form-control">
    <button type="submit" class="btn btn-success"><i class="far fa-paper-plane"></i></button>
</div>