html, body {
    height: 100%;
}

body {
    padding-bottom: 10px
}

.chat-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.chat-messages {
    flex: 3;
    overflow-y: auto;
}

ul, ul.panel-body {
    margin: 0;
    padding: 0;
}

.odd {
    background: #eee;
}

.message-row {
    list-style-type: none;
    padding: 4px 12px;
    display: flex;
}

.message-row img {
padding-right: 1em;
    /* flex: auto; */
    border-radius: 15px;
}

.message-row p {
    /* flex: auto; */
}

.me {
    /* justify-content: flex-end; */
    flex-direction: row-reverse; 
}

.me img{
    padding-right: 0;
    padding-left: 1em;
}

.me p {
    text-align: right;
}

.message-username {
    font-weight: bold;
}

.message-message {
    display: block;
}

.message-username + .timestamp {
    padding-left: 8px;
}

.timestamp {
    font-style: italic;
    /*        display: block; */
}