@model LoginViewModel

<div class="wrapper">
    <form class="wrapper" method="post"
          asp-controller="Account"
          asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-block">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-block">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-block flex-row">
            <label asp-for="RememberMe"></label>
            <input class="form-check-input" asp-for="RememberMe" />
        </div>
        <div>
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
</div>

@section scripts{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}